<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <div class="container-fluid">
        <img src="/SystemIcon.png" alt="SystemIcon" width="50" height="50" >
        <a class="navbar-brand" >Inventory Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/transactions/records">Transaction Records</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/inventories">Show All Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/inventories/add">Add New Item</a>
                </li>
            </ul>

            <ul class="navbar-nav  ml-auto">

                {{#if user}}

                {{#if user._doc.isAdmin}}
                <li class="nav-item">
                    <a href="/staffs/manage" class="nav-link">Manage All Staff</a>
                </li>
                <li class="nav-item">
                    <a href="/staffs/register" class="nav-link">Add New Staff</a>
                </li>
                {{/if}}
                
                <li class="nav-item dropdown">
                    <a  href="#" 
                        id="navbarDowpdownMenuLink"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        class="nav-link dropdown-toggle">
                        {{#if user._doc.avatar.data}}
                        <img src="data:image/{{user._doc.avatar.contentType}};base64,{{user._doc.avatar.data}}" width="50" height="50">
                        {{else}}
                        <img src="/Default_User_Icon.png" alt="UserIcon" width="50" height="50">
                        {{/if}}
                        {{#if user._doc.staffName}}{{user._doc.staffName}}{{/if}}
                        </a>
                    <div class="dropdown-menu">
                        <a href="/staffs/profile" class="dropdown-item">Show Staff Profile</a>
                        <a href="/staffs/logout" class="dropdown-item">Log Out</a>
                    </div>
                </li>

                {{else}}

                <li>
                    <li class="nav-item">
                        <a href="/staffs/login" class="nav-link">Login</a>
                    </li>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
    </div>
</nav>


