{{#if text}}
    <!-- if error then put the text,  the text propty from error-->
    <div class="alert alert-danger">{{text}}</div>
{{/if}}

<div class="card card-body mb-2">
    <h3>Edit Profile</h3>

    {{!-- <form action="/staffs/edit?_method=PUT" method="POST"> --}}
    <form action="/staffs/edit?_method=PUT" enctype="multipart/form-data" method="POST">
        <input type="hidden" name="_method" value="PUT" />

        <div>
            <label for="avatar">Upload New Image for Avatar</label>
            <input type="file" id="avatar" name="avatar" value="">
        </div>

        <div class="form-group">
            <label for="staffName">Staff Name</label>
            <input type="text" class="form-control" name="staffName" value="{{staffName}}" required />
        </div>

        <div class="form-group">
            <label for="oldPassword">Current Password</label>
            <input type="password" name="oldPassword" class="form-control" value="{{oldPassword}}" required />
        </div>

        <div class="form-group">
            <label for="newPassword1">New Password (Optional)</label>
            <input type="password" name="newPassword1" class="form-control" value="{{newPassword1}}" />
        </div>

        <div class="form-group">
            <label for="newPassword2">New Password Again (Optional)</label>
            <input type="password" name="newPassword2" class="form-control" value="{{newPassword2}}" />
        </div>

        <button type="submit" class="btn btn-primary">submit</button>
    </form>
</div>
