{{#if text}}
    <!-- if error then put the text,  the text propty from error-->
    <div class="alert alert-success">{{text}}</div>
{{/if}}

<div class="card card-body mb-2">
    <p><b>Staff Image: </b> 
    {{#if avatar.data}}
    <img src="data:image/{{avatar.contentType}};base64,{{avatar.data}}" width="50" height="50">
    <form action="/staffs/deleteAvatar?_method=DELETE" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="submit" class="btn btn-danger btn-block" value="Delete Avatar" />
    </form>
    {{else}}
    <img src="/Default_User_Icon.png" alt="" width="50" height="50">
    {{/if}}
    
    </p>
    <p><b>Staff Name: </b> {{staffName}}</p>
    <p><b>Login Name: </b> {{loginName}}</p>

    {{!-- edit profile: change Avatar, change Staff Name, chang Password --}}
    <a href="/staffs/edit" class="btn btn-dark btn-block">Edit</a>  
</div>
